<sandwich-menu></sandwich-menu>
<a class='icons wpp'
  href="https://api.whatsapp.com/send?phone=5511957859735&text=Ola%20Felipe%2c%20podemos%20conversar%3f&source=&data="
  target="_blank"><img class='icons wpp' src="https://fabossi.s3-sa-east-1.amazonaws.com/whatsapp.png"
    alt="WhatsApp Icon"></a>
<a class='icons lkdn' href="https://www.linkedin.com/in/fabossifelipe/" target="_blank"><img class='icons lkdn'
    src="https://fabossi.s3-sa-east-1.amazonaws.com/linkedin.png" alt="Linkedin Icon"></a>
<a class='icons' href="https://github.com/fabossi" target="_blank"> <img class='icons'
    src="https://fabossi.s3-sa-east-1.amazonaws.com/github.png" alt="GitHub Icon"></a>
<a class='icons fb' href="https://www.facebook.com/felipefabossicosta" target="_blank"> <img class='icons fb'
    src="https://fabossi.s3-sa-east-1.amazonaws.com/faceb.svg" alt="Facebook Icon"></a>
<p class='share'>SHARE</p>
