<div class='container ' [ngClass]="{'menuInitialAnimation': initialAnimation }">

  <a class='icons make-grey make-animation'
    href="https://api.whatsapp.com/send?phone=5511957859735&text=Ola%20Felipe%2c%20podemos%20conversar%3f&source=&data="
    target="_blank"><img class='icons make-grey wpp' src="../../assets/whatsapp.svg" alt="WhatsApp Icon"></a>

  <!--src="https://fabossi.s3-sa-east-1.amazonaws.com/whatsapp.svg"-->

  <a class='icons make-grey make-animation' href="https://www.linkedin.com/in/fabossifelipe/" target="_blank">
    <img class='icons make-grey linkedin' src="../../assets/linkedin.svg" alt="Linkedin Icon"></a>

  <!--src="https://fabossi.s3-sa-east-1.amazonaws.com/linkedin.svg"-->

  <a class='icons make-animation' href="https://github.com/fabossi" target="_blank">
    <img class='icons github' src="../../assets/github.svg" alt="GitHub Icon"></a>

  <!--src="https://fabossi.s3-sa-east-1.amazonaws.com/github.svg" -->

  <a class='icons make-grey make-animation' href="http://fb.me/fabossif" target="_blank">
    <img class='icons fb make-grey' src="../../assets/faceb.svg" alt="Facebook Icon"></a>

  <!--src="https://fabossi.s3-sa-east-1.amazonaws.com/faceb.svg"-->
  <p class='share'>SHARE</p>

</div>
