<a class='icons wpp make-animation'
  href="https://api.whatsapp.com/send?phone=5511957859735&text=Ola%20Felipe%2c%20podemos%20conversar%3f&source=&data="
  target="_blank"><img class='icons wpp' src="https://fabossi.s3-sa-east-1.amazonaws.com/whatsapp.png"
    alt="WhatsApp Icon"></a>
<a class='icons lkdn make-animation' href="https://www.linkedin.com/in/fabossifelipe/" target="_blank"><img
    class='icons lkdn' src="https://fabossi.s3-sa-east-1.amazonaws.com/linkedin.png" alt="Linkedin Icon"></a>
<a class='icons make-animation' href="https://github.com/fabossi" target="_blank"> <img class='icons'
    src="https://fabossi.s3-sa-east-1.amazonaws.com/github.png" alt="GitHub Icon"></a>
<a class='icons fb make-animation' href="https://www.facebook.com/felipefabossicosta" target="_blank">
  <img class='icons fb make-animation' src="https://fabossi.s3-sa-east-1.amazonaws.com/faceb.svg"
    alt="Facebook Icon"></a>
<p class='share'>SHARE</p>
