<div class="container-header">
  <sandwich-menu></sandwich-menu>
  <div class="container-header__links">
    <ul>
      <li>
        <div class="container-header__links--about-me">
          <a href="">Home</a>
          <div class="container-header__links--about-me__line"></div>
        </div>
      </li>
      <li>
        <div class="container-header__links--my-web">
          <a href="websites">My WebSites</a>
          <div class="container-header__links--my-web__line"></div>
        </div>
      </li>
      <li>
        <div class="container-header__links--career">
          <a href="#">My Career</a>
          <div class="container-header__links--career__line"></div>
        </div>
      </li>
      <li>
        <div class="container-header__links--contact">
          <a href="#">Contact</a>
          <div class="container-header__links--contact__line"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="container-header__social">
    <div class="container-header__social__icons--wpp">
      <a href="https://wa.me/5511957859735?text=Ola%20Felipe,%20podemos%20conversar?" target="_blank" > <img src="../../assets/whatsapp.png" alt="WhatsApp" />
      </a>
    </div>
    <div class="container-bubble">
      <div class="container-bubble__bubble">
        <div class="container-bubble__bubble__text-bubble">
          +55 (11) 95785-9735
        </div>
      </div>
    </div>
    <div class="container-header__social__icons--lk">
      <a href="https://www.linkedin.com/in/fabossifelipe/" target="_blank">
        <img src="../../assets/linkedin.png" alt="Linkedin" />
      </a>
    </div>
    <div class="container-header__social__icons--git">
      <a href="https://github.com/fabossi" target="_blank">
        <img src="../../assets/github.png" alt="Github" />
      </a>
    </div>
  </div>

  <!-- <div class="container-header__logo-f-container">
    <div class="container-header__logo-f-container__img">
      <img src="../../assets/letterF.svg" alt="Felipe Fabossi" />
    </div>
  </div> -->
</div>
