@import '../../sass/main.component.scss';

:host(app-modal-forms) {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 4;
  background-color: rgba($color: #000000, $alpha: 0.95);
  overflow: hidden;
}

.container {
  height: 20rem;
  width: 45rem;
  background-color: rgba($color: $color-white, $alpha: 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: $color-black;
  z-index: 4;
  padding: 0.9rem;
  border-radius: 1.5rem;
  border: none;
  -webkit-box-shadow: 0rem 0rem 0.7rem 0.7rem rgba($color: $color-white, $alpha: 0.2);
  box-shadow: 0rem 0rem 0.7rem 0.7rem rgba($color: $color-white, $alpha: 0.2);
  -webkit-animation: shake 0.82s;
  animation: shake 0.82s;

  &__img {
    width: 14%;
  }
}

.button {
  border: none;
  border-radius: 1.5rem;
  padding: 0.7rem 2.3rem;
  font-size: 1.2rem;
  color: $color-white;
  text-transform: uppercase;
  background-color: $color-primary-dark;
  cursor: pointer;
  outline: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  top: -2%;

  &:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  &:active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.close-img {
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  align-self: flex-end;
  top: 3%;
  right: 2%;
  cursor: pointer;
  backface-visibility: hidden;
  transition: transform 0.4s;

  @supports (-webkit-mask: url()) or (mask-image: url()) {
    background-color: $color-white;
    -webkit-mask-image: url('https://fabossi.s3-sa-east-1.amazonaws.com/close.svg');
    -webkit-mask-size: cover;
    mask-image: url('https://fabossi.s3-sa-east-1.amazonaws.com/close.svg');
    mask-size: cover;
    background-image: none;
  }

  &:hover {
    transform: rotate(90deg) scale(1.05);
  }

  &:active {
    transform: scale(1);
  }
}
