@import '../../../sass/main.component.scss';

:host(app-signup-form),
form {
  height: 96%;
  width: 75%;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-y: hidden;
}

@include loader;

.container-names {
  display: flex;
  flex-direction: row;
  width: 100%;

  & > * {
    margin: 0 0.2rem;
  }
}

.generic-message-input-error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05rem;
  &__top {
    position: relative;
    top: 20%;
  }
}

.form-animation {
  backface-visibility: hidden;
  animation: topToBottom 2s ease-out;
}

::placeholder {
  text-align: center;
  color: $color-grey;
}

.button {
  border: none;
  border-radius: 1.5rem;
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
  color: $color-white;
  text-transform: uppercase;
  background-color: $color-primary-dark;
  cursor: pointer;
  outline: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 30%;
  box-shadow: 0 0rem 0.5rem 0.3rem #28b485a8, 0 0rem 0.8rem 0.3rem #28b485a8;

  &:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  &:active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.basics-input-styles {
  display: flex;
  background-color: transparent;
  padding: 1rem;
  outline: none;
  border: none;
  border-bottom: 0.1rem solid $color-whiter;
  width: 100%;
  color: $color-whiter;
  font-size: 1.4rem;
  text-align: center;
  &__icon {
    align-self: flex-end;
    position: relative;
    top: -2.5rem;
    right: 0.6rem;
  }
}

.textarea-input {
  text-align: left;
}

.hasError {
  border-bottom: 0.1rem solid $color-red-2 !important;
}
