// Colors
$color-white: #fff;
$color-black: #000;
$color-grey: #777;
$color-blacker: rgba(39, 38, 38, 0.61);
$color-whiter: #ffffffd3;
$color-whiter-2: #ffffff77;

$color-primary-light: #7ed56f;
$color-secondary-light-1: #ffb900;
$color-grey-light: #eee;
$color-primary-dark: #28b485;
$color-primary-dark2: rgba(#28b485, 0.8);
$color-primary-light: #55c57a;
$color-secondary-dark-1: #ff7730;

$color-tertiary-light-1: #2998ff;
$color-blue: #005aad;
$color-tertiary-dark-1: #5643fa;

$light-grey-color-1: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-red-1: hsl(0, 74%, 40%);

//Default Font-size
$default-font-size: 1.6rem;

//Border Radius Values
$border-radius-small: 0.3rem;
$border-radius-madium: 1.5rem;
$border-radius-big: 3rem;

//Margin Bottons

$u-margin-bottom-small: 0.3rem;
$u-margin-bottom-medium: 1.5rem;
$u-margin-bottom-big: 3rem;

// Grid Variables
$grid-width: 114rem;
$grid-gutter-vertical: 8rem;
$grid-gutter-vertical-small: 6rem;
$grid-gutter-horizontal: 6rem;
