<ng-container *ngIf="initAnimation">

  <form [formGroup]="contactForm" [ngClass]="{'form-animation': initAnimation}">
    <div class="container-names">
      <div class="generic-message-input-error">
        <input autofocus
          [ngClass]="{'hasError': !contactForm.get('nameTextInput').valid && contactForm.get('nameTextInput').touched}"
          class='container-names__name-input basics-input-styles capitalize' autocomplete="off" type="text"
          formControlName="nameTextInput" [maxlength]='mxlengthN' placeholder="Your name">
        <div *ngIf="contactForm.get('nameTextInput').errors || contactForm.get('nameTextInput').invalid"
          class="generic-message-input-error__top">{{onlyLettersMessage}}</div>
      </div>

      <div class="generic-message-input-error">
        <input
          [ngClass]="{'hasError': !contactForm.get('lastNameTextInput').valid && contactForm.get('lastNameTextInput').touched}"
          class='generic-message-input-error container-names__lastName-input basics-input-styles capitalize'
          autocomplete="off" type="text" formControlName="lastNameTextInput" [maxlength]='mxlengthLN'
          placeholder="Your lastname">
        <div *ngIf="contactForm.get('lastNameTextInput').errors || contactForm.get('lastNameTextInput').invalid"
          class="generic-message-input-error__top">{{onlyLettersMessage}}</div>
      </div>
    </div>

    <div class="generic-message-input-error">
      <input
        [ngClass]="{'hasError': !contactForm.get('emailTextInput').valid && contactForm.get('emailTextInput').touched}"
        class='generic-message-input-error email-input basics-input-styles' autocomplete="off" type="email"
        name='emailTextInput' formControlName="emailTextInput" placeholder="youremail@provider.com">
      <div *ngIf="contactForm.get('emailTextInput').invalid" class="generic-message-input-error__top">
      {{validEmailMessage}}</div>
    </div>

    <div class="generic-message-input-error">
      <textarea
        [ngClass]="{'hasError': !contactForm.get('messageTextInput').valid && contactForm.get('messageTextInput').touched}"
        class='generic-message-input-error textarea-input basics-input-styles' id='messageTextInput' autocomplete="off"
        cols="2" rows="2" formControlName="messageTextInput" [maxlength]="mxlengthTA"
        placeholder="Write your message to me here." #messageTextInput>
      </textarea>
      <div class='generic-message-input-error__top'>
        {{ messageTextInput.value.length }} of {{mxlengthTA}}
      </div>
    </div>
    <ng-container *ngIf="stausRequest === 'wait' || stausRequest === 'ready' || stausRequest === 'error'">
      <button (click)='submitInformations()' class='button'>SEND</button>
    </ng-container>
    <ng-container *ngIf="stausRequest === 'waiting'">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </ng-container>
  </form>

</ng-container>
