@import "../../../sass/main.component.scss";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $color-grey;
}

.box-image {
  height: 30%;
  width: 60%;
  border: 0.1rem solid $color-white;
}
.information {
  width: 30%;
  height: 30%;
  border: 0.1rem solid $color-white;
}
