<div class="container-profile">
  <app-header-menu></app-header-menu>
</div>

<div class="header-first">
  <!-- <div class='header-first__container-h1s'>
    <p class='header-first__container-h1s__hello'>Hello!</p>
    <p class='header-first__container-h1s__plasure'>Nice to meet you, my name is Philip.</p>
  </div> -->
  <img class="header-first__storm-img" height='50%' width='100%' src='../../assets/blue.png' />
  <button class='header-first__button-more'>
    <span class='header-first__button-more__text-button'>Learn more</span></button>

</div>
<!-- <app-signup-form></app-signup-form> -->
