@import "../../sass/main.component.scss";
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");

.container-profile {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 8%;
  // background-color: rgba(39, 38, 38, 0.9);
  box-shadow: 0 0.1rem 1.7rem rgba($color-black, 0.6);
}

.text-area {
  text-align: center;
  padding: 3.5rem;
}
.color-2 {
  background-color: #555555;
}

::-webkit-input-placeholder {
  color: $color-white;
  opacity: 0.9;
}

:-ms-input-placeholder {
  color: $color-white;
  opacity: 0.9;
}

::-ms-input-placeholder {
  color: $color-white;
  opacity: 0.9;
}

::-moz-placeholder {
  color: $color-white;
  opacity: 0.9;
}

::placeholder {
  color: $color-white;
  opacity: 0.9;
}

.header-first {
  width: calc(100vw - 4.5%);
  height: calc(100vh - 8%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 4.5%;
  top: 8%;
  // background-image: url("https://fabossi.s3-sa-east-1.amazonaws.com/felipe.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
}
