<div class="header-first">
  <div class="header-first__container-languages">
    <img class='header-first__container-languages__mongo make-animation make-grey' src="../../assets/mongo.svg"
      alt="Mongo Logo">
    <img class='header-first__container-languages__python make-animation make-grey' src="../../assets/python.svg"
      alt="Python Logo">
    <img class='header-first__container-languages__node height make-animation make-grey' src="../../assets/node.svg"
      alt="NodeJS Logo">
    <img class='header-first__container-languages__angular make-animation make-grey' src="../../assets/angular.svg"
      alt="Angular Logo">
  </div>
  <div class='header-first__container-boat'>
    <div class="header-first__container-boat__play">
      <ng-container *ngIf="!animate">
        <img src='../../assets/play2.svg' class="header-first__container-boat__play__play-img"
          (click)='initAnimation($event)' />
      </ng-container>
      <ng-container *ngIf="animate">
        <img src='../../assets/pause.svg' class="header-first__container-boat__play__play-img"
          (click)='initAnimation($event)' />
      </ng-container>
    </div>
    <img [ngClass]="{'boatMove' : animate}" class='header-first__container-boat__boat-logo' src="../../assets/boat.svg"
      alt="Boat Image">
  </div>
  <img class="header-first__storm-img" height='50%' width='100%' src='../../assets/blue.png' />
  <button class='header-first__button-more'>
    <span class='header-first__button-more__text-button'>Learn more</span></button>
</div>
