@import "../../sass/main.component.scss";
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");

.container-profile {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 8%;
}

.header-first {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  &__button-more {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 0.7rem;
    padding: 1.3rem;
    background-color: $color-white;
    outline: none;
    cursor: pointer;
    border: none;
    width: 10%;
    transition: all 0.22s ease-in;
    align-self: flex-end;
    bottom: 5rem;
    &__text-button {
      text-transform: uppercase;
      color: $color-blacker;
    }
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1);
    }
  }
  &__container-h1s {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    &__hello {
      font-size: 2rem;
    }
    &__plasure {
      font-size: 3rem;
    }
  }
  &__storm-img {
    width: 100vw;
    height: 60%;
    /* z-index: -2; */
    position: absolute;
    align-self: flex-end;
    right: 0;
  }
  &__container-boat {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    right: 35%;
    top: 16%;
    &__boat-logo {
      position: relative;
      height: 13rem;
      animation: boatMove 6.5s infinite;
    }
    &__play {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      width: 4rem;
      border-radius: 4rem;
      opacity: 0.7;
      transition: all 0.3s ease-out;
      z-index: 3;
      cursor: pointer;
      right: 1rem;
      box-shadow: 0rem 0 2.5rem 0rem;
      &__play-img {
        height: 100%;
        width: 100%;
      }
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(1);
      }
    }
  }
  &__cloud-img {
    position: relative;
  }
}

@keyframes boatMove {
  0% {
    transform: rotate(1deg) translate(0px, 0px);
  }
  25% {
    transform: rotate(-1deg) translate(0px, -8px);
  }
  50% {
    transform: rotate(1deg) translate(0px, 0px);
  }
  75% {
    transform: rotate(-1deg) translate(0px, -3px);
  }
  100% {
    transform: rotate(1deg) translate(0px, 0px);
  }
}
