<form [formGroup]="loginForm" [ngClass]="{'form-animation': initAnimation}">

  <h1 class='h1'>LOGIN</h1>

  <div class="container-names">
    <div class="generic-message-input-error">
      <input
        [ngClass]="{'hasError': !loginForm?.get('emailTextInput').valid && loginForm?.get('emailTextInput').touched}"
        class='generic-message-input-error email-input basics-input-styles' autofocus autocomplete="off" type="email"
        name='emailTextInput' formControlName="emailTextInput" placeholder="youremail@provider.com" />
      <div *ngIf="loginForm?.get('emailTextInput').invalid" class="generic-message-input-error__top">Please, insert
        a valid email.</div>
    </div>

    <div class="generic-message-input-error">
      <input
        [ngClass]="{'hasError': !loginForm?.get('passwordTextInput').valid && loginForm?.get('passwordTextInput').touched}"
        class='generic-message-input-error container-names__lastName-input basics-input-styles' autocomplete="off"
        [type]="!see_password ? 'password' : 'text'" formControlName="passwordTextInput" [maxlength]='mxlengthLN'
        placeholder="Your password here" />
      <fa-icon class='basics-input-styles__icon' (click)="seePassword()"
        [icon]="['fas', !see_password ? 'eye' : 'eye-slash']"></fa-icon>
      <div *ngIf="loginForm?.get('passwordTextInput').errors || loginForm?.get('passwordTextInput').invalid"
        class="generic-message-input-error__top">Insert at least 3 characters.</div>
    </div>
  </div>
  <div class='container-button' *ngIf="stausRequest === 'wait' || stausRequest === 'ready' || stausRequest === 'error'">
    <button (click)='onLogin()' class='container-button__button'>LOGIN</button>
    <button class='container-button__login-link' (click)='backtoSignup()'>Have no account yet?</button>
  </div>
  <ng-container *ngIf="stausRequest === 'waiting'">
    <div class="loader lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </ng-container>

</form>
