<div class='main' (window:resize)="onResize($event)">
  <header-social *ngIf="!hideToMobile"></header-social>
</div>
<!-- <app-header-menu></app-header-menu> -->
<app-header-social-mobile *ngIf="hideToMobile"></app-header-social-mobile>

<div *ngIf="showFeedback">
  <app-modal-message-submit (modalFeedBackEvent)='askFeedback($event)' [status]='_status_feedback'>
  </app-modal-message-submit>
</div>

<!-- <ng-container *ngIf="isLoading">
  <app-modal-feedback></app-modal-feedback>
</ng-container> -->

<ng-container *ngIf="showModal">
  <app-modal-form-email></app-modal-form-email>
</ng-container>

<router-outlet></router-outlet>
