<div (window:resize)="onResize($event)">
  <header-social *ngIf="!hideToMobile"></header-social>

  <div class="container-profile">
    <app-header-menu></app-header-menu>
  </div>

  <!-- <app-header-social-mobile ></app-header-social-mobile> -->

  <app-only-computer *ngIf="hideToMobile"></app-only-computer>

  <div *ngIf="showFeedback">
    <app-modal-message-submit (modalFeedBackEvent)='askFeedback($event)' [status]='_status_feedback'>
    </app-modal-message-submit>
  </div>


  <!-- <ng-container *ngIf="showModal">
    <app-modal-forms>
      <app-contact-form></app-contact-form>
    </app-modal-forms>
  </ng-container>

  <ng-container *ngIf="showSignup">
    <app-modal-forms>
      <app-signup-form></app-signup-form>
    </app-modal-forms>
  </ng-container> -->


</div>
<router-outlet></router-outlet>
