<h1>Contact me!</h1>

<input [ngClass]='{see: opacity, hasErrors: hasErrors}' autocomplete="off" type="text" [(ngModel)]="nameTextInput"
  name='nameTextInput' placeholder="Write your name here..">

<input [ngClass]='{see: opacity, hasErrors: hasErrors}' autocomplete="off" type="text" [(ngModel)]="lastNameTextInput"
  name='lastNameTextInput' placeholder="Write your Last name here..">

<input [ngClass]='{see: opacity, hasErrors: hasErrors}' type="email" [(ngModel)]="emailTextInput" name='emailTextInput'
  placeholder="Write your email here..">

<textarea [ngClass]='{see: opacity, hasErrors: hasErrors}' autocomplete="off" [(ngModel)]="messageTextInput"
  name='messageTextInput' id="" cols="30" rows="10" placeholder="Write your message to Felipe .."></textarea>

<button (click)='submitInformations()'>SEND</button>

<ng-container *ngIf="isLoading">
  <app-modal-feedback></app-modal-feedback>
</ng-container>
