<h1>Contact me!</h1>

<input autocomplete="off" type="text" [(ngModel)]="nameTextInput" name='nameTextInput'
  placeholder="Write your name here..">

<input autocomplete="off" type="text" [(ngModel)]="lastNameTextInput" name='lastNameTextInput'
  placeholder="Write your Last name here..">

<input autocomplete="off" type="email" [(ngModel)]="emailTextInput" name='emailTextInput'
  placeholder="Write your email here..">

<textarea autocomplete="off" [(ngModel)]="messageTextInput" name='messageTextInput' cols="30" rows="10"
  placeholder="Write your message to me .."></textarea>

<button (click)='submitInformations()'>SEND</button>
