@import "../../sass/main.component.scss";
.btn {
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4rem;
  width: auto;
  border-radius: 0.7rem;
  cursor: pointer;
  background-color: #5c1f10d2;
  outline: none;
  &__text {
    font-size: 1.6rem;
    padding: 0.5rem;
    text-transform: uppercase;
    color: $color-white;
    @include respond(phone) {
      font-size: 1.3rem;
    }
  }
  @include respond(phone) {
    height: 3rem !important;
    width: 8rem !important;
  }
}
