@import "../../sass/main.component.scss";

:host {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  z-index: 1;
  background-color: rgba($color: $color-black, $alpha: 0.95);
}

img {
  z-index: 2;
}

.loading-text {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  span {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    font-size: 1.75rem;
    font-family: "Quattrocento Sans", sans-serif;
    @include for-loop-blur;
  }
}

@include blue-text-animation;
