@import "../../sass/main.component.scss";

:host {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 30%;
  height: 3rem;
  left: 56.6%;
  top: 5.5%;
  @include respond(phone-small) {
    width: 75%;
    left: 14.6%;
    top: 2.5%;
  }
  @include respond(tab-port) {
    width: 63%;
    left: 17.6%;
    top: 16.5%;
  }
}

.menu-home-button {
  backface-visibility: hidden;
  border: 0.1rem solid $color-white;
  padding: 0.7rem;
  border-radius: 1.3rem;
  width: 25%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  position: relative;
  left: 70%;
  background-color: rgba($color: #ffff, $alpha: 0.1);
  transition: transform 0.2s ease-out;
  &__text {
    font-size: 1.2rem;
    color: $color-white;
    cursor: pointer;
  }
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
  }
}
