<div class="container-writeEmail">
  <a routerLink="auth/forms">
    <button class='container-writeEmail__button-email' (click)='showEmail()'>Write an email</button>
  </a>
</div>
<a [routerLink]='RLH'>Home</a>
<div class='message'>
  <a class='message ready-only make-animation'>Skills</a>
  <div class="message__inf">
    <span class="message__inf__text">Skill's page is under work.</span>
  </div>
</div>
<div class='message'>
  <a class='message ready-only make-animation'>Career</a>
  <div class="message__inf">
    <span class="message__inf__text">Career's page is under work.</span>
  </div>
</div>
<div class='message'>
  <a class='message ready-only make-animation'>About me!</a>
  <div class="message__inf">
    <span class="message__inf__text">About me page is under work.</span>
  </div>
</div>
<div class="container-writeEmail">
  <a *ngIf="!isLoggedin" routerLink="auth/forms">
    <button class='container-writeEmail__button-email' (click)='showLogin()'>login or signup</button>
  </a>
  <a *ngIf="isLoggedin">
    <button class='container-writeEmail__button-email' (click)='logout()'>Logout</button>
  </a>
</div>
